@model ATL_WebUI.Models.SQL.Route

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteNodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteNodes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_KM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_KM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_CO2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_CO2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_Time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Route_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
