@model ATL_WebUI.Models.SQL.Shipment

@{
    ViewData["Title"] = "Create Cargo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create Shipment Order</h1>

<h4>Shipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer_Id" class="control-label"></label>
                <select asp-for="Customer_Id" asp-items="@(new SelectList(ViewBag.Users, "Id", "UserName"))" class="form-control"></select>
                <span asp-validation-for="Customer_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee_Id" class="control-label"></label>
                <select asp-for="Employee_Id" asp-items="@(new SelectList(ViewBag.Users, "Id", "UserName"))" class="form-control"></select>
                <span asp-validation-for="Employee_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" asp-action="IndexEnum" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList(typeof(ATL_WebUI.Models.SQL.Statuses))" class="form-control"></select> 
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address_From_Id" class="control-label"></label>
                <select asp-for="Address_From_Id" asp-items="@(new SelectList(ViewBag.Addresses, "Address_Id", "City"))" class="form-control"></select>
                <span asp-validation-for="Address_From_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address_To_Id" class="control-label"></label>
                <select asp-for="Address_To_Id" asp-items="@(new SelectList(ViewBag.Addresses, "Address_Id", "City"))" class="form-control"></select>
                <span asp-validation-for="Address_To_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure_Date" class="control-label"></label>
                <input asp-for="Departure_Date" class="form-control" />
                <span asp-validation-for="Departure_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival_Date" class="control-label"></label>
                <input asp-for="Arrival_Date" class="form-control" />
                <span asp-validation-for="Arrival_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Route_Id" class="control-label"></label>
                <select asp-for="Route_Id" asp-items="@(new SelectList(ViewBag.Routes, "Route_Id", "RouteName"))" class="form-control"></select>
                <span asp-validation-for="Route_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
