@model ATL_WebUI.Models.SQL.Shipment


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Area Details -->
<div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Shipment Info</h6>    
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <!-- Content Row -->
            <div class="row">
                <!-- Departure Location Card -->
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Departure Location</div>
                                    <hr />
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">
                                        <p><span>@ViewBag.From.Field_1</span></p>
                                        <p><span>@ViewBag.From.City</span></p>
                                        <p><span>@ViewBag.From.Country</span></p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-arrow-right fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Arrival Location Card -->
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Arrival Location</div>
                                    <hr />
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">
                                        <p><span>@ViewBag.To.Field_1</span></p>
                                        <p><span>@ViewBag.To.City</span></p>
                                        <p><span>@ViewBag.To.Country</span></p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-stop-circle fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Shipment Info Card -->
                <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Shipment Info</div>
                                    <hr />
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">
                                        <p>ID: <span>@Html.DisplayFor(model => model.Shipment_Id)</span></p>
                                        <p>Customer: <span>@ViewBag.Customer.Email</span></p>
                                        <p>Phone: <span>@ViewBag.Customer.PhoneNumber</span></p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4 py-3 border-bottom-primary">
                        <div class="card-body">
                            <h5><strong>@ViewBag.Route.RouteName</strong></h5>
                            <hr />
                            <h5><span>@ViewBag.Route.RouteNodes</span></h5>
                            <hr />
                            <p><strong>Departure Date:</strong> - <span>@Html.DisplayFor(model => model.Departure_Date)</span></p>
                            <p><strong>Arrival Date:</strong> - <span>@Html.DisplayFor(model => model.Arrival_Date)</span></p>
                            <hr />
                            <p><strong>Containers:</strong> - <span>@ViewBag.Detail</span></p>
                            <hr />
                            <h4><strong>Shipment Cost:</strong> - <span>@Html.DisplayFor(model => model.Total_Price)</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4 py-3 border-bottom-primary">
                        <div class="card-body">
                            <div class="card-body">
                                <h5>Statistics</h5>
                                <hr />
                                <h4 class="small font-weight-bold">Emissions<span class="float-right">@((ViewBag.Route.Total_CO2 * 100) / 20000)%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: @((ViewBag.Route.Total_CO2 * 100)/20000)%" aria-valuenow="@((ViewBag.Route.Total_CO2 * 100)/20000)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                
                                <h4 class="small font-weight-bold">Cost / KM<span class="float-right">@((ViewBag.Route.Total_KM * 100) / 10000)%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: @((ViewBag.Route.Total_KM * 100) / 10000)%" aria-valuenow="@((ViewBag.Route.Total_KM * 100) / 10000)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                
                                <h4 class="small font-weight-bold">Time Value<span class="float-right">@((ViewBag.Route.Total_Time * 100) / 50)%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar" role="progressbar" style="width: @((ViewBag.Route.Total_Time * 100) / 50)%" aria-valuenow="@((ViewBag.Route.Total_Time * 100) / 50)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card mb-4 py-3 border-bottom-primary">
                        <div class="card-body">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Messages</div>
                            <hr />
                            @foreach (var item in ViewBag.Messages)
                            {
                                <p><span> @item.Details </span></p>
                            }
                        </div>
                    </div>
                </div>
                <hr />
                <p>@Html.ActionLink("Back to List", "Index", "Shipments", null, new { @class = "btn btn-primary" })</p>
            </div>
        </div>
    </div>
</div>

